.calcButton {
    height: 100px;
    width: 100px;
    border: solid;
    border-width: thin;
    font-size: 2em;
    font-weight: bold;
}

#calc {
  padding-top: 25px;
}

.notused {
    /*display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;  */
}
